@import "../core/mixin.scss";
@import "../core/variables.scss";

.c-footer {
    position: absolute;
    bottom: 0;
    //width: 100vw;
    height: 10%;
    color: $blue-color;
    padding: 0.3rem;

    @include tablet {
        width: auto;
    }

    &__border {
        border-top: 0.1rem solid $blue-color;
    }

    &__text {
        padding: 2rem 1rem 1rem 1rem;
    }
}