@import "../core/mixin.scss";
@import "../core/variables.scss";

.c-header {
    padding: 0.3rem;
    text-align: center;
    height: 25vh;
    font-family: $font-title;

    @include tablet {
        width: 35vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__border {
        border: 0.1rem solid $blue-color;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        height: 25vh;

        @include tablet {
            flex-direction: column;
            align-content: center;
            justify-content: center;
            height: 95vh;
        }
    }

    &__img {
        width: 25%;
        border-radius: 50%;
        border: 0.2rem solid $lightPink-color;

        @include tablet {
            border-radius: 10px;
            width: 60%;
        }
    }

    &__textBox {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 0.7rem;
    }

    &__title {
        font-size: 2rem;
    }

    &__text {
        font-size: 1.3rem;
    }

    &__iconList {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1rem;

    }
}