@import "../core/mixin.scss";
@import "../core/variables.scss";

.c-header {
    padding: 0.3rem;

    @include tablet {
        width: 35vw;
    }

    &__border {
        border: 0.1rem solid $blue-color;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        @include tablet {
            flex-direction: column;
            align-content: center;
        }
    }

    &__img {
        width: 25%;
        border-radius: 50%;
        border: 0.2rem solid $secondpink-color;

        @include tablet {
            margin: auto;
            width: 60%;
        }
    }

    &__textBox {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 0.7rem;
        @include titleStyle;
    }

    &__title {
        font-size: 20px;

    }

    &__iconList {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
}