@import "../core/mixin.scss";
@import "../core/variables.scss";

.modal {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: $font-text;

    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 90%;
        background: white;
        color: $blue-color;
        z-index: 10;
        border-radius: 16px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__title {
        @include smallphone {
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
        }

        margin: 0 0.7rem 0 0.7rem;
        padding: 1rem 0.3rem 1rem 0.3rem;
        font-family: $font-title ;
        font-size: 2.5rem;
        border-bottom: solid 0.1rem $blue-color;

    }

    &__text {
        @include smallphone {
            font-size: 1rem;
            padding: 0rem 1rem 0rem 1rem;
        }

        @include regularText;
        font-size: 1.3rem;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

    &__img {
        @include smallphone {
            width: 70vw;
            max-height: 50vh;

        }

        width: 70vw;
        max-height: 50vh;
        border-radius: 10px;

        &__title {
            @include smallphone {
                font-size: 1rem;

            }

            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
    }

    &__buttons {
        @include smallphone {
            margin-bottom: 1rem;
        }

        width: 80%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__link {
        @include button
    }

    &__arrow {
        font-size: 1.7rem;
        @include linkHover
    }
}