@import "../core/variables.scss";
@import "../core/mixin.scss";

.c-nav {
    padding: 1rem;

    &__box {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-bottom: solid 0.1rem $blue-color;
        margin: 0 0.3rem 0 0.3rem;


        &__link {
            text-align: center;
            padding-bottom: 1rem;
            font-family: $font-title;
            padding-top: 1rem;
            padding-bottom: 1rem;

            @include tablet {
                padding-top: 2rem;
            }

            @include linkHover;
        }
    }
}

.active {
    text-decoration: underline;
    color: $darkPink-color;
}