@import "../core/variables.scss";
@import "../core/mixin.scss";

.projects__article {
    text-align: center;
    background-color: $lightPink-color;
    border-radius: 10px;
    font-family: $font-text;
    margin: 0 2rem 1.5rem 2rem;

    &__container {
        padding: 1rem 0 1rem 0.5rem;
        display: grid;
        grid-template-columns: 4rem 1fr;
        grid-template-rows: 1fr(3);
    }

    &__techDiv {
        margin-left: 1rem;
        width: fit-content;
        grid-column: 1/2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $dark-color;
    }

    &__img {
        margin: auto;
        grid-column: 2;
        grid-row: 1/3;
        width: 75%;
        border-radius: 10px;
        padding-bottom: 0.5rem;
    }

    &__title {
        text-decoration: none;
        color: $dark-color;
        @include linkHover;
    }

    &__borderBottom {
        margin: 0 6rem 0 6rem;
        padding-top: 1rem;
        border-bottom: solid 0.1rem $blue-color;
    }
}