@import "../core/mixin.scss";
@import "../core/variables.scss";

.c-summaryArticle {
    margin-bottom: 0.7rem;

    &__title {
        font-family: $font-title;
        margin-bottom: 0.3rem;
    }
}