@import "../core/mixin.scss";
@import "../core/variables.scss";

.c-summaryContainer {
    height: 100%;

    @include tablet {
        height: auto;
    }

    &__title {
        text-align: center;
        margin-bottom: 1.7rem;
        font-size: 1.3rem;

        @include tablet {
            font-size: 1.6rem;
        }
    }

    &__list {
        height: 100%;
        padding-bottom: 1rem;

        @include tablet {
            height: auto;
        }
    }
}