@import "../core/mixin.scss";
@import "../core/variables.scss";

.c-summaryArticle {
    margin-bottom: 1.7rem;
    margin-left: 1rem;

    &__title {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    &__dates {
        @include italicText;
        margin-bottom: 0.3rem;
    }

    &__text {
        @include regularText;

    }
}