@import "../core/mixin.scss";
@import "../core/variables.scss";

.c-summaryContainer {
    &__title {
        text-align: center;
        margin-bottom: 1.7rem;
        font-size: 1.3rem;
    }
}