@import "../core/variables.scss";

@mixin tablet {
    @media all and (min-width:768px) {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width:1200px) {
        @content;
    }
}


@mixin linkHover {
    &:hover {
        color: $pink-color;
        cursor: pointer;
    }
}

@mixin italicText {
    font-family: $font-text;
    font-style: italic;
    font-weight: 300;
}

@mixin regularText {
    font-family: $font-text;
    font-weight: 400;
}