@import "../core/variables.scss";

@mixin smallphone {
    @media all and (max-height:800px) {
        @content;
    }
}

@mixin tablet {
    @media all and (min-width:768px) {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width:1200px) {
        @content;
    }
}

@mixin bigDesktop {
    @media all and (min-width:2100px) {
        @content;
    }
}


@mixin linkHover {
    &:hover {
        color: $pink-color;
        cursor: pointer;
    }
}

@mixin italicText {
    font-family: $font-text;
    font-style: italic;
    font-weight: 300;
}

@mixin regularText {
    font-family: $font-text;
    font-weight: 400;
}

@mixin button {
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: $blue-color;
    font-family: $font-title;
    border: solid $blue-color 0.3rem;
    border-radius: 10px;

    &:hover {
        color: $pink-color;
        border: solid $pink-color 0.3rem;
    }
}