//Fuentes
$font-text: 'Karla', sans-serif;
$font-title: 'Poltawski Nowy', serif;

//Colors
$dark-color: #433A3F;
$blue-color: #3D5A6C;
$darkgreen-color: #72A98F;
$lightgreen-color: #8DE969;
$salmon-color: #D8A48F;
$pink-color: #D67AB1;
$lightpink-color: #fadfd4;
$secondpink-color: #fae7f2;