@import "../core/mixin.scss";
@import "../core/variables.scss";

.landing {
    height: 70vh;
    padding: 1rem;
    color: $blue-color;
    font-size: 1.3rem;
    text-align: center;

    @include tablet {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 1.5rem;
        margin: 1rem 0 3rem 0;

        &__span {
            color: $pink-color;
        }
    }

    &__text {
        text-align: left;
        padding: 0 1.5rem 1rem 1.5rem;

        @include desktop {
            padding: 0 1.5rem 3rem 1.5rem;
        }
    }
}