@import "../core/mixin.scss";

.projects {
    padding: 0.3rem;
    text-align: center;
    height: 50vh;

    @include tablet {
        height: 80vh;
    }

    &__title {
        text-align: center;
        padding: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;

        @include desktop {
            font-size: 1.7rem;
        }
    }

    &__container {
        overflow-y: scroll;
        height: 100%;
    }
}