.projects {
    padding: 0.3rem;
    text-align: center;
    height: 50vh;

    &__title {
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }

    &__container {
        overflow-y: scroll;
        height: 100%;

    }


}