@import "../core/mixin.scss";
@import "../core/variables.scss";

.summary {
    margin: 0 1rem 0 1rem;
    color: $blue-color;
    font-family: $font-title;

    &__title {
        text-align: center;
        padding: 1rem;
        font-size: 1.8rem;
    }

    &__text {
        margin-bottom: 1.7rem;

        &__link {
            color: $darkPink-color;
            text-decoration: none;
            @include linkHover;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__border {
            border-right: solid $blue-color 0.1rem;
            margin-right: 0.3rem;
        }
    }
}