@import "../core/mixin.scss";
@import "../core/variables.scss";

.summary {
    margin: 0 1rem 0 1rem;
    color: $blue-color;
    font-family: $font-title;
    height: 50vh;

    @include tablet {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__title {
        text-align: center;
        padding: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.8rem;

        @include tablet {
            font-size: 2rem;
        }

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__text {
        margin-bottom: 1.7rem;

        @include tablet {
            font-size: 1.5rem;
            margin-left: 1rem;
        }

        @include desktop {
            margin-bottom: 1.2rem;
        }

        &__link {
            color: $darkPink-color;
            text-decoration: none;
            @include linkHover;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-y: scroll;
        height: 100%;

        @include tablet {
            overflow-y: auto;
            height: auto;
        }


        &__border {
            border-right: solid $blue-color 0.1rem;
            margin-right: 0.2rem;
            padding-right: 0.3rem;
            height: 90%;


        }
    }
}