@import "./styles/core/reset.scss";
@import "./styles/core/mixin.scss";

.App {
    width: 100vw;
    color: $blue-color;

    @include tablet {
        display: flex;
        flex-direction: row;
    }

}