@import "./styles/core/reset.scss";
@import "./styles/core/mixin.scss";

.App {
    overflow-y: hidden;
    height: 100vh;
    color: $blue-color;

    @include tablet {
        display: flex;
        flex-direction: row;
    }
}

.mainContainer {
    @include tablet {
        width: 100%;
    }
}